/**
Icon buttons taken from fontawesome-free-7.1.0-desktop
**/
.icon-button {
    -fx-padding: 8px;
    -fx-background-color: #E0E0E0;
}
.small-icon-button {
    -fx-padding: 4px;
    -fx-background-color: #00000000;
}
/*  icon: download */
.icon-backup {
    -fx-shape: "M352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 306.7L166.6 265.3C234.1 252.8 213.8 252.8 201.3 265.3C188.8 277.8 188.8 298.1 201.3 310.6L297.3 406.6C309.8 419.1 330.1 419.1 342.6 406.6L438.6 310.6C451.1 298.1 451.1 277.8 438.6 265.3C426.1 252.8 405.8 252.8 393.3 265.3L352 306.7L352 96zM160 384C116.7 384 96 412.7 96 448L96 480C96 515.3 116.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 448C544 412.7 515.3 384 480 384L433.1 384L376.5 440.6C345.3 471.8 294.6 471.8 263.4 440.6L206.9 384L160 384zM464 440C477.3 440 488 450.7 488 464C488 477.3 477.3 488 464 488C450.7 488 440 477.3 440 464C440 450.7 450.7 440 464 440z";
    -fx-background-color: black;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}
/* icon: upload */
.icon-restore {
    -fx-shape: "M352 173.3L352 384C352 401.7 337.7 416 320 416C302.3 416 288 401.7 288 384L288 173.3L166.6 214.7C234.1 227.2 213.8 227.2 201.3 214.7C188.8 202.2 188.8 181.9 201.3 169.4L297.3 73.4C309.8 60.9 330.1 60.9 342.6 73.4L438.6 169.4C451.1 181.9 451.1 202.2 438.6 214.7C426.1 227.2 405.8 227.2 393.3 214.7L352 173.3zM320 464C364.2 464 400 428.2 400 384L480 384C515.3 384 544 412.7 544 448L544 480C544 515.3 515.3 544 480 544L160 544C116.7 544 96 515.3 96 480L96 448C96 412.7 116.7 384 160 384L160 384C160 428.2 275.8 464 320 464zM464 488C477.3 488 488 477.3 488 464C488 450.7 477.3 440 464 440C450.7 440 440 450.7 440 464C440 477.3 450.7 488 464 488z";
    -fx-background-color: black;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

/* icon: plus */
.icon-add {
    -fx-shape: "M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z";
    -fx-background-color: white;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

/* icon: trash-can */
.icon-remove {
    -fx-shape: "M262.2 48C248.9 48 236.9 56.3 232.2 68.8L216 112L120 112C106.7 112 96 122.7 96 136C96 149.3 106.7 160 120 160L520 160C533.3 160 544 149.3 544 136C544 122.7 533.3 112 520 112L424 112L407.8 68.8C403.1 56.3 391.2 48 377.8 48L262.2 48zM128 208L128 512C128 547.3 156.7 576 192 576L448 576C483.3 576 512 547.3 512 512L512 208L464 208L464 512C464 520.8 456.8 528 448 528L192 528C183.2 528 176 520.8 176 512L176 208L128 208zM288 280C288 266.7 277.3 256 264 256C250.7 256 240 266.7 240 280L240 456C240 469.3 250.7 480 264 480C277.3 480 288 469.3 288 456L288 280zM400 280C400 266.7 389.3 256 376 256C362.7 256 352 266.7 352 280L352 456C352 469.3 362.7 480 376 480C389.3 480 400 469.3 400 456L400 280z";
    -fx-background-color: black;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.small-icon-button .icon-remove {
    -fx-background-color: white;
}
