.header {
    -fx-background-color: #91B4FF;
}

.list-cell .label {
    -fx-text-fill: #00FF00;

}
.list-view, .list-cell {
    -fx-background-color: #000000;
    -fx-text-fill: #00FF00;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.tree-cell:selected, .list-cell:selected {
    -fx-background-color: #005500; /* Darker green for selected items */
}

.list-view , .list-view:focused {
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
