<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%ex{0}%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>MidiPresetManager.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.hypercube" level="info" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="ch.qos.logback" level="info" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org" level="info" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
